<div class="main">
  <div class="header">
    <div class="category-content">Sartarosh</div>
  </div>
  <div class="service-picture-content">
    <div class="left-section">
      <i class="pi pi-map-marker icon"></i>
    </div>
    <div class="middle-section">
      <img
        class="service-img"
        src="https://cdn.vectorstock.com/i/1000v/23/07/barbershop-label-stamp-logo-design-for-your-vector-46372307.jpg"
        alt="service-logo"
      />
    </div>
    <div class="right-section">
      <i class="pi pi-info-circle icon"></i>
    </div>
  </div>
  <div class="main-content">
    <h4 class="service-name">Baxtiyor Sartarosh</h4>
    <div class="block">Sifatli hizmat, yaxshi sharoit</div>
    <div class="block">Toshkent sh., Chilonzor, Qatorol 9</div>
  </div>
</div>
