.main {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
}

.filter-content {
  position: sticky;
  top: 0;
  transition: transform 0.3s ease;
}

.filter-content.collapsed {
  transform: translateY(-80%);
}

.collapse-content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.collapse-btn {
  width: 50px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgba($color: black, $alpha: 0.3);
  background-color: var(--color-surface);
  cursor: pointer;
}

.collapse-icon {
  color: var(--color-text-muted);
}

.service-content {
  width: 100%;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}