<div class="main">
  <div class="info-conatiner">
    <i class="pi pi-info-circle info-icon"></i>
  </div>
  <div class="img-container">
    <img
      class="img"
      src="https://www.shutterstock.com/image-vector/simple-sparkling-tooth-illustration-dentistry-600nw-2544899111.jpg"
      alt="Service Image"
    />
  </div>
  <div class="header-container">
    <p class="header" pTooltip="Azam Oltin Tepa">Azam Oltin Tepa</p>
    <div class="service-type">
      <div class="badge">Stomotologia</div>
    </div>
  </div>
</div>
