/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {

  /* Brand Colors */
  --color-primary: #E98B62;
  --color-primary-light: #fEA88B;

  /* Backgrounds */
  --color-background: #F6EFEA;
  --color-surface: #FFFFFF;

  /* Borders */
  --color-border: #E7DDD6;

  /* Text */
  --color-text: #3A2F2A;
  --color-text-muted: #8B7E77;

}

.content-handler {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}